body


h1{
    color: black;
    font-size: 40px;
    text-align: center;
    margin-top: 110px;
}

p {
    color: black
    text-align center;
}


#groot{
    color: black;
    
}

a{
    font-size: 40px;
    color: black;
    text-decoration: none;
}

img{
    border-style: solid;
    border-width: 10px;
    border-color: black;
    display: block;
    margin: 0 auto;
   }

#achtergrond{
    width: 2500px;
    height: 700px;
    background-image:jpg(ws_mountains,_tops,_snow,_sky_1920x1080jpg);
    background-attachment: fixed; 
}